@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

Alcoplast

File:			app.scss
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2018

************************************************************************************************************************ */

/* ---------- Variables ---------- */

$primary_color: #606060;
$secondary_color: #e0040b;
$background: #ebecec;
$border: #e0040b;

/* ---------- General ---------- */

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

* {
	margin: 0;
	padding: 0;
}

body {
	font: {
		family: 'Roboto Condensed', sans-serif;
		size: 16px;
	}
	color: $primary_color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Roboto Condensed', sans-serif;
}

a {
	color: $secondary_color;
	&:hover {
		color: $secondary_color;
	}
}

/* ---------- Template ---------- */

/* Top */

.top {
	.moduletable_to1 {
		padding: 15px 0;
	}
	.moduletable_to2 {
		.top-bar {
			padding: 0;
			background-color: transparent;
			.top-bar-title {
				margin: 0;
			}
			#responsive-menu {
				width: 100%;
				ul.menu {
					background-color: transparent;
					li {
						padding: 0 5px;
						&.current-menu-parent,
						&.current-menu-item,
						&.current_page_parent {
							a {
								border-bottom: 2px solid $secondary_color;
							}
						}
						a {
							padding: 5px 20px;
							border-bottom: 2px solid transparent;
							color: $primary_color;
							&:hover {
								border-bottom: 2px solid $secondary_color;
							}
							&:after {
								border: {
									top-width: 4px;
									left-width: 4px;
									right-width: 4px;
									top-color: $secondary_color;
								}
							}
						}
						ul.sub-menu {
							background-color: rgba(224, 4, 11, 0.7);
							border: 0;
							z-index: 100;
							li {
								padding: 0;
								background-image: none;
								border-bottom: 1px solid rgba(255, 255, 255, 0.7);
								z-index: 100;
								a {
									width: 100%;
									padding: 5px 10px;
									border: none;
									font-weight: normal;
									color: #fff;
									z-index: 100;
									&:hover {
										background-color: $secondary_color;
										color: #fff;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	.moduletable_to3 {
		ul {
			list-style: none;
		}
	}
}

/* Banner */

.banner {}

/* Content */

.content {
	padding: 30px 0;
	background-color: #f7f7f7;
	h1 {
		font-size: 20px;
		color: $secondary_color;
	}
	h2 {
		font-size: 18px;
		color: $secondary_color;
	}
	strong {
		color: $secondary_color;
	}
	.asterisk {
		color: red;
	}
	input {
		&.button {
			background-color: $secondary_color;
			border-radius: 0;
		}
	}
	.moduletable_le1 {
		a {
			&.bellows-target {
				padding: 5px 10px;
				background: $secondary_color !important;
			}
		}
		ul {
			&.bellows-submenu {
				a {
					&.bellows-target {
						padding: 5px 10px;
						background: #fff !important;
					}
				}
			}
		}
	}
	.woocommerce {
		ul.products {
			li {
				padding-bottom: 10px;
				border-bottom: 1px solid $secondary_color;
				a {
					display: block;
					h2.woocommerce-loop-product__title {
						padding: 5px;
						color: $primary_color;
						text: {
							align: center;
							transform: uppercase;
						}
					}
				}
			}
		}
	}
	&.full-width {
		background-color: #fff;
		h1 {
			margin-bottom: 0;
			padding: 20px 0;
			background: {
				image: url(content_max_h1_bg.png);
				position: center;
				repeat: no-repeat;
				size: cover;
			}
			font-size: 40px;
			color: #fff;
		}
		.max {
			max-width: 1000px;
			margin: auto;
		}
	}
}

/* Block 1 */

.block_1 {
	padding: 20px 0;
	background: {
		image: url(block_1_bg.png);
		position: center;
		repeat: no-repeat;
		size: cover;
	}
	color: #fff;
	.moduletable_b11 {
		h3 {
			font-size: 28px;
		}
	}
}

/* Block 2 */

.block_2 {
	padding: 20px 0;
	background: {
		image: url(block_2_bg.png);
		position: top;
		repeat: repeat-x;
	}
	.moduletable_b21 {
		h3 {
			margin-bottom: 20px;
			font: {
				size: 30px;
				weight: bold;
			}
		}
		.insideframe {
			ul {
				li {
					.insideframe {
						margin: 0 10px;
						background-color: $secondary_color;
						.wpcu-front-box {
							&.top {
								a {
									span.thumbnail {
										margin: 0;
										box-shadow: inherit;
										span.img_cropper {
											img {}
										}
									}
									span.title {
										padding: 0 15px 15px 15px;
										font: {
											size: 30px;
											weight: bold;
										}
										color: #fff;
									}
								}
							}
							&.bottom {
								a {
									span.text {
										padding: 0 15px 15px 15px;
										color: #fff;
									}
									span.read-more {
										height: 45px;
										margin: 0 15px;
										padding-bottom: 15px;
										background: {
											image: url(moduletable_b21_read_more_bg.png);
											position: top right;
											repeat: no-repeat;
										}
										color: transparent;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

/* Block 3 */

.block_3 {
	padding: 20px 0;
	background-color: $background;
	.moduletable_b31 {
		h3 {
			margin-bottom: 0;
			font: {
				size: 30px;
				weight: bold;
			}
		}
		.owl-item {
			padding: 10px;
			.sa_hover_container {
				padding: 0 !important;
				border: 1px solid $secondary_color;
				a {
					color: $primary_color;
				}
			}
		}
	}
}

/* Block 4 */

.block_4 {
	.moduletable_b41 {
		iframe {
			border: 0;
		}
	}
}

/* Bottom */

.bottom {
	padding: 10px 0;
	background-color: $secondary_color;
	.moduletable_bo1 {
		font-size: 26px;
		color: #fff;
	}
}

/* Copyright */

.copyright {
	padding-bottom: 10px;
	background-color: $secondary_color;
	color: #fff;
	a {
		color: #fff;
	}
}

/* ---------- Media Queries ---------- */

/* Small only (639px) */

@media screen and (max-width: 39.9375em) {}

/* Medium and up (640px) */

@media screen and (min-width: 40em) {}

/* Medium only (640px and 1023px) */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up (1024px) */

@media screen and (min-width: 64em) {}

/* Large only (1024px and 1199px) */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* ---------- Others ---------- */

.clear {
	clear: both;
}